<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Buzz Test Suite">
            <directory suffix="Test.php">./test/Buzz/</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- <server name="TEST_SERVER" value="http://localhost/buzz/test/server.php" /> -->
        <!-- <server name="TEST_SERVER_SSL" value="https://localhost/buzz/test/server.php" /> -->

        <!-- <server name="TEST_PROXY" value="http://localhost:8080" /> -->
        <!-- <server name="TEST_PROXY_AUTH" value="http://buzz:buzz@localhost:8081" /> -->
        <!-- <server name="TEST_PROXY_SSL" value="https://localhost:8082" /> -->
        <!-- <server name="TEST_PROXY_SSL_AUTH" value="https://buzz:buzz@localhost:8083" /> -->
    </php>

    <filter>
        <whitelist>
            <directory suffix=".php">./lib/Buzz/</directory>
        </whitelist>
    </filter>
</phpunit>
